<form method="post" action="/">
  <p>
    <label>Code Language:
      <select name="lang">
        {{{language_options}}}
      </select>
    </label>
  </p>
  <p><label for="code">Code:</label></p>
  <p>
    <textarea name="code" id="code" rows="20" cols="100">{{code_raw}}</textarea>
  </p>
  <p>
    <input type="submit" value="_why"/>
  </p>
</form>

{{#is_posted}}
{{{code}}}
{{/is_posted}}
