<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      whyday
    </title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {{{yield}}}

    <div id="footer">
      by <a href="http://twitter.com/badboy_">@badboy_</a> |
      <a href="http://github.com/badboy/why_codebubble">code</a> |
      powered by <a href="http://www.sinatrarb.com/">Sinatra</a>,
      <a href="http://coderay.rubychan.de/">CodeRay</a>,
      <a href="http://github.com/defunkt/mustache">mustache</a>
      |
      hosted at <a href="http://heroku.com/">heroku</a> |
      <a href="http://www.dafont.com/simpsonfont.font">simpsonfont</a> by Jon Bernhardt, remastered by Dennis Ludlow |
      <a href="https://twitter.com/celebratewhyday/status/21577293373">idea</a> |
      <a href="http://whyday.org/">whyday</a>
    </div>
  </body>
</html>
